<?php foreach ($rows as $row): ?>
    <div class="row">
        <?php foreach($row as $key => $column): ?>
            <div class="<?php echo $key === "full" ? "clearfix" : "col-lg-6 p-l-0 p-r-0" ?>">
              <?php echo $this->makePartial('column', ['column' => $column, 'widget' => $widget]); ?>
            </div>
        <?php endforeach ?>
    </div>
<?php endforeach ?>
